label[for="hamburger-menu"] {
  font-size: 3rem;
  margin-left: 10px;
  z-index: 10;
}
/* Menu for mobile. */
nav {
  display: none;
  top: 0;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: grid;
  position: absolute;
  width: 100vw;
  z-index: 4;
  padding: 20px 0;
  animation: revealMenu 0.5s ease;
  overflow: hidden;
}

@keyframes revealMenu {
  0% {
    height: 0px;
  }
  100% {
    height: 43vh;
  }
}

body {
  background: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainimage {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3)), url("/images/hovedbilde_mobil.jpg");
  min-height: 80vh;
  position: relative;
  top: -10vh;
  z-index: -1;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.mainimage h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  padding-top: 11vh;
  outline: none;
  color: #253d4f;
}

nav {
  grid-template-columns: 1fr;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  box-sizing: border-box;
  background: linear-gradient(to right, #597894, #253d4f);
  border-bottom: 3px solid white;
}

#topleftlogo {
  height: 10vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.menu {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  display: grid;
}

.menu a span:hover {
  text-decoration: underline;
}

.menu li {
  list-style: none;
}

.menu a i,
.menu a span {
  justify-self: center;
}
.menu a i {
  font-size: 1.5rem;
}

#subnav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 0px;
}

#subnav form {
  justify-self: end;
  margin-right: 2vw;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.cta {
  display: grid;
  text-align: center;
  gap: 2vh;
  position: relative;
  top: -4vh;
}
.cta a {
  color: #253d4f;
  font-size: 1.2rem;
  text-decoration: none;
}
.cta a:hover {
  color: #dda400;
}

#gallery {
  width: 100vw;
  min-height: 100px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.gallery_image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#subnav form input[type="text"],
#submitbutton {
  border: 1px solid black;
  outline: none;
  padding: 6px 4px;
}

#subnav form input[type="text"] {
  border-radius: 20px 0 0 20px;
  width: 20vw;
}

#submitbutton {
  border-radius: 0 20px 20px 0;
}

footer {
  background: #597894;
  margin-top: 15vh;
  padding: 3vh 0px;
}

#footerlogo {
  height: 10vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.breadcrumb {
  color: #253d4f;
  align-self: center;
}

.three_column {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 3vh;
}

.breadcrumb {
  display: none;
}

#subnav {
  padding: 20px;
  grid-template-columns: 1fr;
}

#subnav form {
  margin: 0;
  justify-self: center;
}

#subnav form input[type="text"] {
  width: 50vw;
}

.form__input {
  display: block;
}
