:root {
  --color-text: #253d4f;
  --color-cta: #dda400;
  --color-cta2: #a66d03;
  --color-theme: #597894;
  --color-theme-light: #90acc0;
}

body {
  background: #ffffff;
  color: var(--color-text);
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hamburger-menu {
  display: none;
}

nav {
  display: grid;
  grid-template-areas:
    "logo hamburger"
    "menu menu";
  background: linear-gradient(to right, var(--color-theme-light), var(--color-theme));
  padding: 10px;
}
#topleftlogo {
  grid-area: logo;
}

label[for="hamburger-menu"] {
  justify-self: end;
  align-self: center;
  font-size: 3rem;
  grid-area: hamburger;
}

.menu {
  display: none;
  padding-inline-start: 0px;
  grid-area: menu;
}

.menu li,
.menu a,
.menu a:visited {
  color: white;
  font-size: 1.5rem;
}

.menu li {
  list-style: none;
}

.menu a {
  display: grid;
  text-decoration: none;
  justify-items: center;
  padding: 20px;
}

#hamburger-menu:checked ~ .menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#subnav {
  padding: 20px;
}

#subnav form {
  float: right;
}

.breadcrumb {
  float: left;
}
